
.navbar{
    min-height: 80px;
    background-color: #ffffff;
    color: #484848;
    border-bottom: 1px solid #eee;

    
}

.nav-link{
    font-size: 12px;
    font-weight: 500;
    line-height: 48px;
}

.navbar__item__img{
    height: 20px;
    
}

.navbar__item__btn{
    line-height: 64px;
}

.navbar__item__btn-create-oreder{
    background: #008489 ;
    color: #ffffff;
    font-weight: 500;
    margin-left: 15px;

}


.nav__profile__img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.login{
    display: none;
}