.container__OfItems{
    margin-top: 40px;
}

.container__OfItems__createFromLink{

}
.container__OfItems__createFromLink>h6{
    color: #999;
    display: inline;
}
.container__OfItems__createFromLink>a{
    color: #008489;
    padding: 5px;
}

.container__OfItems__uploadeImage{
    margin-top: 20px;
}
span{
    font-weight: 300;
    font-size: 16px;
}
.container__OfItems__uploadeImage>input{
   margin-top: 15px;
  
}

.container__OfItems__Name{
    margin-top: 20px;
}
.container__OfItems__Name>input{
    margin-top: 10px;
    padding: 10px 15px;
    width: 450px;
    background-color: #f8f8f8;
    border-width: 0px;
    border-radius: 5px;
    border-style: solid;
    height: 45px;
    font-size: 13px

}

.container__OfItems__Description{
    margin-top: 20px;
}
.container__OfItems__Description>input{
    margin-top: 10px;
    padding: 10px 15px;
    width: 450px;
    background-color: #f8f8f8;
    border-width: 0px;
    border-radius: 5px;
    border-style: solid;
    height: 80px;
    font-size: 13px

}

.container__OfItems__Url{
    margin-top: 20px;
}
.container__OfItems__Url>input{
    margin-top: 10px;
    padding: 10px 15px;
    width: 450px;
    height: 45px;
    background-color: #f8f8f8;
    border-width: 0px;
    border-radius: 5px;
    border-style: solid;
    font-size: 13px
}