.tap__container{
    width: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.getly-details {
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 20px;
    margin-top: 20px;
    transition-duration: 0.5s;
    transition-property: background-color;
    cursor: pointer;
}


.getly-details:hover{
    background-color: #f8f8f8;
    
}

.oreder__details {
    
    background-color: #eee;
    border-radius: 4px;
    padding: 10px 15px;
    position: relative;
    margin-bottom: 15px;
    margin-top: 15px;
    display: block;
    margin-left: 15px;
    width: 100%;
    margin-right: 15px;
}