.items__container{
    margin-top: 40px;

}

.items__container__steps{
    margin-top: 50px;
}

.items__container__step1,.items__container__step2,.items__container__step3{
    display: inline;
    margin-right: 20px;
    font-size: 20px;
    padding: 10px;
    background-color: lightblue;
    color: #999;
}

.items__container__step1{
    border-bottom: 3px solid #008489;
    color: black;

}

.items__container__h4{
margin-top: 35px;

}

.items__container__h6{
    margin-top: 20px;
    color: #999;

}

.items__container__divForm{
    margin: auto;
    margin-top: 20px;
    
}

.items__container__form__input{
    padding: 10px;
    width: 450px;
    margin-right: 20px;
}
.items__container__divForm>button{
     font-weight: 500;
    width: 500px;
    height: 100px;
}

.details__manually{
    margin-top: 20px;
}
.details__manually>a{
    color: #008489;
    padding: 5px;
}


















