.whole__Container{
    padding: 30px 60px;
}

.editProfile__Form{
    border: 1px solid #f2f2f2;
    padding: 15px 25px;
}

.Profile__Side__Nav{
    display: block;

}
.Profile__element{
    text-decoration: none;
    font-weight: 500;
    color: #878787;
}
.Profile__element:hover{
    text-decoration: none;
    font-weight: 500;
    color: #ccc;
}
.Profile__element:active{
    text-decoration: none;
    font-weight: 600;
    color: #878787;
}
.Profile__Side__Nav >div{
    margin-bottom: 16px;
}
.btn__Div{
    text-align: center;
}
.btn__Div >a{
    color: #878787;
    font-weight: 600;
    border:1px solid #ced4da;
    margin-top:30px;
}
.btn__Div >a:hover{
    color: #878787;
    font-weight: 600;
    border:1px solid #878787;
}
