.Profile__Side__Nav{
    display: block;

}
.Profile__element{
    text-decoration: none;
    font-weight: 500;
    color: #878787;
}
.Profile__element:hover{
    text-decoration: none;
    font-weight: 500;
    color: #ccc;
}
.Profile__element:active{
    text-decoration: none;
    font-weight: 600;
    color: #878787;
}
.Profile__Side__Nav >div{
    margin-bottom: 16px;
}
.btn__Div{
    text-align: center;
}
.btn__Div >a{
    background: #008489;
    color: #fff;
    font-weight: 600;
    margin-top:30px;
    padding: 14px;
    border-radius: 5px; 
}
.btn__Div >a:hover{
    color: #008489;
    background: #fff;
    font-weight: 600;
    border:1px solid #008489;
}
